/* -----------------------------------------------TAGS */
body {
  background-color: #3e3e3e;
}

main {
  height: 100%;
  display: flex;
  align-items: stretch;
  gap: 5px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: normal;
  font-style: normal;
  text-align: center;
}

/* -----------------------------------------------LEFT-SIDE */
.form-box {
  margin-bottom: 10px;
}

.refresh-button {
  margin-bottom: 20px;
}

.welcome-text {
  width: 80%;
  height: auto;
  font-size: 10px;
  background-position: 0;
  background-color: #252020;
  color: #ffffff;
}

.welcome-title {
  font-size: 18px;
}

.left-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #252020;
  color: #ffffff;
  height: 800px;
  width: 270px;
  border-radius: 25px;
}

.fitlit-title {
  justify-content: center;
  margin: 20px 10px 20px 10px;
  font-size: 30px;
  text-decoration: underline;
}

.logo-container {
  height: 250px;
  width: 160px;
  margin-top: 50px;
  background-image: url('../images/fitlit.png');
  background-color: #252020;
  background-size: contain;
  background-repeat: no-repeat;
}

.refresh-button {
  width: 70px;
  height: 30px;
  transition-duration: 0.5s;
  margin-top: 180px;
}

.refresh-button:hover, .submit-button:hover {
  background-color: #000000;
  color: white;
}

.refresh-button:active, .submit-button:active {
  box-shadow: 0 5px #000000;
  transform: translateY(4px);
}

.dropbtn {
  background-color:#9199A0;
  color: black;
  padding: 16px;
  margin-top: 30px;
  font-size: 16px;
  border: none;
}

.dropdown {
  margin-top: -30px;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd; }
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #252020; color: #ffffff;}

/* ----------------------------------------------- WIDGET-AREA */
.widget-box {
  margin: 20px;
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.headers {
  padding-left: 10px;
  padding-right: 10px;
}

.daily-left {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 20px;
}

.welcome-name {
  font-size: 20px;
  margin: 0;
  border: 0;
}

.daily-text,
.user-data-text {
  margin-bottom: 15px;
  padding-bottom: 15px;
}

.headers {
  font-size: 30px;
}

.welcome-user-box {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20%;
  color: #252020;
  font-size: 40px;
  color: #000000;
  background-color: #ffffff;
  opacity: 0.9;
  border-radius: 25px;
  transition: all 0.3s ease-in-out;
}

.user-data-box {
  display: flex;
  flex-direction: column;
  width: 60%;
  color: #252020;
  color: #000000;
  background-color: #ffffff;
  opacity: 0.9;
  border-radius: 25px;
  transition: all 0.3s ease-in-out;
}

.daily-box {
  display: flex;
  flex-direction: column;
  width: 25%;
  color: #252020;
  font-size: 14px;
  color: #000000;
  background-color: #ffffff;
  opacity: 0.9;
  border-radius: 25px;
  transition: all 0.3s ease-in-out;
}

.step-box {
  color: black;
  width: 20%;
  color: #252020;
  color: #000000;
  background-color: #ffffff;
  opacity: 0.9;
  border-radius: 25px;
  transition: all 0.3s ease-in-out;
}

.activity-box {
  display: flex;
  flex-direction: column;
  width: 25%;
  color: #252020;
  font-size: 14px;
  color: #000000;
  background-color: #ffffff;
  opacity: 0.9;
  border-radius: 25px;
  transition: all 0.3s ease-in-out;
}

.hydration-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 400px;
  width: 60%;
  color: #252020;
  color: #000000;
  background-color: #ffffff;
  opacity: 0.9;
  border-radius: 25px;
  transition: all 0.3s ease-in-out;
}

.welcome-user-box:hover,
.user-data-box:hover,
.daily-box:hover,
.step-box:hover,
.activity-box:hover,
.sleep-box:hover,
.hydration-box:hover {
  background-position: 0;
  box-shadow: 5px 5px 10px 2px #BB2026;
  background-color: #252020;
  color: #ffffff;
}

/* ----------------------------------------------- CHARTS */
.hydration-chart,
.sleep-chart,
.steps-chart,
.stairs-chart,
.min-active-chart {
  display:flex;
  height: 200px;
  width: 550px;
  size: initial;
  margin-bottom: 30px;
  margin-left: 5%;
  flex-shrink: 3;
}

.chart-box-title {
  margin-bottom: -5px;
}

/* ----------------------------------------------- BUTTON-NAVIGATION */
.btn-nav {
  overflow: hidden;
  border-top: 1px solid #252020;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
}

.btn-nav button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s ease-in-out;
}

.btn-nav button:hover {
  background-color: #252020;
  color: #ffffff;
}

.btn-nav.active {
  background-color: lightcoral;
}